In [1]:
import pandas as pd
import numpy as np

In [3]:
df_clientes = pd.read_excel(r'C:\Users\fedec\OneDrive\Desktop\contenido\py\DS\CASO PRÁCTICO 1\Clientes.xlsx',sheet_name = "Sheet1")
df_clientes

,ID Cliente,Nombre cliente,Segmento,País,Ciudad,Estado,Código Postal,Región
0,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South
1,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West
2,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South
3,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West
4,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027.0,South
...,...,...,...,...,...,...,...,...
788,CJ-11875,Carl Jackson,Corporate,Romania,NaN,NaN,NaN,NaN
789,RS-19870,Roy Skaria,Home Office,Romania,NaN,NaN,NaN,NaN
790,SC-20845,Sung Chung,Consumer,Romania,NaN,NaN,NaN,NaN
791,RE-19405,Ricardo Emerson,Consumer,Romania,NaN,NaN,NaN,NaN
792,SM-20905,Susan MacKendrick,Consumer,Romania,NaN,NaN,NaN,NaN

In [5]:
df_Productos = pd.read_excel(r'C:\Users\fedec\OneDrive\Desktop\contenido\py\DS\CASO PRÁCTICO 1\Productos.xlsx',sheet_name = "Sheet1")
df_Productos

,ID Producto,Categoría,Sub-categoría,Nombre Producto,Coste Producción
0,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156
1,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",563.102730
2,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,11.746474
3,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,608.528822
4,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,12.728871
...,...,...,...,...,...
1859,TEC-MA-10003589,Technology,Machines,Cisco 8961 IP Phone Charcoal,212.190300
1860,OFF-AP-10003099,Office Supplies,Appliances,"Eureka Hand Vacuum, Bagless",124.048834
1861,TEC-PH-10002645,Technology,Phones,LG G2,869.947650
1862,OFF-ST-10001627,Office Supplies,Storage,Eldon Jumbo ProFile Portable File Boxes Graphi...,35.736686
1863,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,390.302725

In [7]:
df_ventas = pd.read_excel(r'C:\Users\fedec\OneDrive\Desktop\contenido\py\DS\CASO PRÁCTICO 1\Ventas.xlsx',sheet_name = "Sheet1")
df_ventas

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,"261,96",2
1,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,"731,94",3
2,CA-2016-138688,2020-06-12,2020-06-16 00:00:00,Second Class,DV-13045,OFF-LA-10000240,"14,62",2
3,US-2015-108966,2019-10-11,NaT,Standard Class,SO-20335,FUR-TA-10000577,"957,5775",5
4,US-2015-108966,2019-10-11,2019-10-18 00:00:00,Standard Class,SO-20335,OFF-ST-10000760,"22,368",2
...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2018-01-21,2018-01-23 00:00:00,Second Class,TB-21400,FUR-FU-10001889,"25,248",3
9990,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,FUR-FU-10000747,"91,96",2
9991,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,TEC-PH-10003645,"258,576",2
9992,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,OFF-PA-10004041,"29,6",4
9993,CA-2017-119914,2021-05-04,2021-05-09 00:00:00,Second Class,CC-12220,OFF-AP-10002684,"243,16",2

In [9]:
df_clientes.isnull().sum()

ID Cliente          0
Nombre cliente      0
Segmento            0
País                0
Ciudad            455
Estado            455
Código Postal     455
Región            455
dtype: int64

In [11]:
df_Productos.isnull().sum()

ID Producto         0
Categoría           0
Sub-categoría       0
Nombre Producto     1
Coste Producción    2
dtype: int64

In [13]:
df_ventas.isnull().sum()

ID Pedido          0
Fecha compra       3
Fecha envío        6
Modo envío         0
ID Cliente         0
ID Producto        0
Precio unitario    0
Cantidad           0
dtype: int64

In [15]:
# Eliminar filas donde 'Fecha compra' es nulo
df_ventas = df_ventas.dropna(subset=["Fecha compra"])

transformo en int las columnas con valores numericos que deben ser cambiadas